airflow/logs/
airflow/dags/__pycache__/
preparator/__pycache__/

services/clean-nan-service/app/__pycache__/
services/delete-columns-service/app/__pycache__/
services/extract-csv-service/app/__pycache__/
services/extract-sql-service/app/__pycache__/
services/extract-excel-service/app/__pycache__/
services/extract-api-service/app/__pycache__/
services/data-quality-service/app/__pycache__/
services/join-datasets-service/app/__pycache__/
services/load-data-service/app/__pycache__/
services/outlier-detection-service/app/__pycache__/

otherfiles/

*.csv
*.xlsx